@model Autor

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Editar Autor</h2>
			<hr />
		</div>
		
		<div class="mb-3">
			<label asp-for="Nome"></label>
			<input asp-for="Nome" class="form-control" />
			<span asp-validation-for="Nome" class="text-danger"></span>
		</div>
		
		<button type="submit" class="btn btn-primary" style="width:150px">Editarr</button>
		<a asp-controller="Autors" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Voltar Lista
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
